@page "/"



<div>
    <p>
        Nombre:
        <input type="text" placeholder="Nombre" @bind="@message" @bind:event="oninput" />
        @message
    </p>
    <p>
        Apellidos:
        <input type="text" placeholder="Apellidos" @bind="@message" @bind:event="oninput" />
        @message
    </p>

</div>

@code {
    string message = "";

    private void ChangeText()
    {

    }
}
