@page "/"



<div>
    <p>
        Nombre:
        <input type="text" placeholder="Nombre" @bind="@Nombre" @bind:event="oninput" />
        @Nombre
    </p>
    <p>
        Apellidos:
        <input type="text" placeholder="Apellido" @bind="@Apellido" @bind:event="oninput" />
        @Apellido
    </p>

</div>

@code {
    string Nombre = "";
    string Apellido = "";

    private void ChangeText()
    {

    }
}
