@using Entities
@using Business

    <div>
        <EditForm Model="objProduct">
            <div class="form-control">
                <label>Referencia: </label>
                <InputText @bind-Value="objProduct.ProductId" class="form-control" />

            </div>
            <div class="form-control">
                <label>Nombre del producto: </label>
                <InputText @bind-Value="objProduct.ProductName" class="form-control" />

            </div>
            <div class="form-control">
                <label>Descripción: </label>
                <InputTextArea @bind-Value="objProduct.ProductDescription" class="form-control" />

            </div>

            <input type="button" value ="Agregar Producto" @onclick="SaveProduct" />
        </EditForm>
    </div>

    @code {

        ProductEntity objProduct = new ProductEntity();

        private void SaveProduct ()
        {
            ProductBusiness.CreateProduct(objProduct);
        }
    }
